<p-toolbar>
    <ng-template #start>
        <p-button icon="pi pi-plus" class="mr-2" text severity="secondary" (onClick)="createBeer()"/>
        <p-button icon="pi pi-print" class="mr-2" text severity="secondary" (onClick)="printPage()"/>
        <p-button icon="pi pi-upload" text severity="secondary" (onClick)="downloadPage()" />
    </ng-template>
    <ng-template #center>
        <p-iconfield iconPosition="left">
            <p-inputicon styleClass="pi pi-search" />
            <input type="number" pInputText placeholder="Nº page" [(ngModel)]="pageNumber" min="1" max="14"/>
        </p-iconfield>
    </ng-template>
    <ng-template #end>
        <p-button icon="pi pi-sync" (onClick)="searchBeerPage(pageNumber)" [disabled]="!pageNumber" />
    </ng-template>
</p-toolbar>